/tmp
/master/system/
/master/system.img
/original/v1/system.img
/original/v2/system.img
/master/rootfs/media/bootanimation.zip
/app_mod/
/data/
/tools/android-udev-rules/
/tools/platform-tools/
/tools/platform-tools_r30.0.5-linux.zip
